

  
<ion-tabs >
  
  
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button  (click)="tab1Nav()">
      <ion-icon class="text"  aria-hidden="true" name="home"></ion-icon>
      <ion-label class="text" >inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button  (click)="tab2Nav()">
      <ion-icon class="text" aria-hidden="true" name="send"></ion-icon>
      <ion-label class="text" >Reservar</ion-label>
    </ion-tab-button>

    <ion-tab-button  (click)="tab3Nav()">
      <ion-icon class="text" aria-hidden="true" name="book"></ion-icon>
      <ion-label class="text" >Mis Reservas</ion-label>
    </ion-tab-button>
  

  <ion-tab-button  (click)="tab4Nav()">
    <ion-icon class="text" aria-hidden="true" name="warning"></ion-icon>
    <ion-label class="text">Manueales y Guias </ion-label>
  </ion-tab-button>
</ion-tab-bar>

</ion-tabs>
