<ion-header>
  <ion-toolbar class= lila color="reservado">
    <ion-title class="text">Reservado.com</ion-title>
    <ion-title class="textR">Home</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card>
  <ion-item>
    <ion-label   color="dark"  ><ion-title class="holamundo">Realizar reservas:</ion-title></ion-label>
    
  </ion-item>
  <ion-item><ion-input class="holamundo "></ion-input></ion-item>
</ion-card>
</ion-content>
<ion-content>
  <ion-row>
    <ion-col>
      hol
    </ion-col>
<ion-card>

</ion-card>
  </ion-row>
</ion-content>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->

