<ion-header>
  <ion-toolbar class= lila color="reservado">
    <ion-title class="text">Reservado.com</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
  <ion-img class="login-imagen" src="assets\images\login_image.svg"></ion-img>
  
  <ion-item class="ion-margin-top labe">
    <ion-label position="floating">USUARIO</ion-label>
    <ion-input [(ngModel)]="email" placeholder="Ingrese su usuario porfavor:"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top labe">
    <ion-label position="floating" >CONTRASEÑA</ion-label>
    <ion-input [(ngModel)]="pass" type="password" placeholder="Ingrese su contraseña porfavor:" ></ion-input>
    
  </ion-item>



  
  <ion-button expand="block" color="primary"    (click)="navegar()">Iniciar sesión</ion-button>






</ion-col>
</ion-row>

<ion-content>

  